@import "tailwindcss";

body {
  overflow: hidden;
  background-color: #f8fafc;
  font-family: "Josefin Sans", sans-serif;
}
.navbar li {
  font-size: 1.125rem; 
  font-weight: 500; 
}

button {
    cursor: pointer;
}
